<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Bai2_Suite" verbose="2">

    <groups>
        <run>
            <include name="regression"/>
        </run>
    </groups>

    <test name="LoginTest">
        <classes>
            <class name="com.example.bai2_testng_groups.LoginTest"/>
        </classes>
    </test>

    <test name="CartTest">
        <classes>
            <class name="com.example.bai2_testng_groups.CartTest"/>
        </classes>
    </test>

    <test name="CheckoutTest">
        <classes>
            <class name="com.example.bai2_testng_groups.CheckoutTest"/>
        </classes>
    </test>

</suite>